version: '3.8'

services:
  app:
    build: .
    ports:
      - "3000:3000"
    environment:
      - DB_HOST=db
      - DB_USER=root
      - DB_PASS=root
      - DB_NAME=product_db
      - DB_DIALECT=mysql
      - JWT_SECRET=supersecretkey_change_in_production
    depends_on:
      - db
    restart: always

  db:
    image: mysql:8.0
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: product_db
    ports:
      - "3307:3306"
    restart: always
    volumes:
      - db_data:/var/lib/mysql

volumes:
  db_data:
